.example-card {
    max-width: 400px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    
    
    
    
  }
  .list{

    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    gap:16px;
    padding:10px
  }
  
  .example-header-image {
    background-image: url('/assets/images/logo.png');
    background-size: cover;
    
  }