<mat-toolbar style="background-color: #FFD400; margin-top: 100px;">
    <span>RecipeBook</span>
  </mat-toolbar>
  
  
  <mat-toolbar>
    <mat-toolbar-row 
      style="background-color: #FFD400; display: flex; justify-content: center; align-items: center;">
      
      <button mat-button style="margin: 2px;" routerLink="/">Home</button>
      <button mat-button style="margin: 2px;" routerLink="/about">About</button>
      <button mat-button style="margin: 2px;" routerLink="/explore">Explore</button>
  
    </mat-toolbar-row>
  </mat-toolbar>
  
  <hr style="width: 100%; height: 1px; background-color: black; border: none; margin: 0;" />
  
  <div style="background-color: #FFD400; display: flex; justify-content: center; align-items: center; padding: 10px;">
    © 2024 RecipeBook. All rights reserved.
  </div>
  