<mat-card style="background-size: cover; background-position: center; background-color: rgb(0, 0, 0)">
    <mat-card-content 
    style="color:aliceblue;
     position:absolute; top:50%; right:30%;
     display:flex;justify-content: center;align-items: center;font-size: clamp(20px, 6vw, 100px);
     z-index: 1;">
     Recipe Book
    </mat-card-content>
    <img src="/assets/images/bannerhome.jpg" 
    style="height:583px; opacity:0.5;position:relative;
    z-index: 0; object-fit: cover;"/>
  </mat-card>

  <mat-grid-list cols="2" rowHeight="500px" style="margin-top: 100px;margin-bottom: 100px;">
    <mat-grid-tile ><img style="max-width: 350px; width: clamp(50%,5vw,100%); height: auto;" src="/assets/images/logo.png"/></mat-grid-tile>
    <mat-grid-tile>
      <p style="width: 400px; ">
      Welcome to FlavorHaven, where delicious meals and delightful experiences come together. Whether you're a home chef exploring new flavors or a food enthusiast searching for your next kitchen adventure, our recipe book has something just for you!
    </p>
    </mat-grid-tile>
    
  </mat-grid-list>



  <mat-card style="object-fit: cover; background-position: center; background-color: rgb(0, 0, 0)">
    <mat-card-content 
    style="color:aliceblue;
     position:absolute; top:50%; right:30%;
     display:flex;flex-direction: column ;justify-content: center;align-items: center;font-size: clamp(15px, 2vw, 30px);
     z-index: 1; ">
     Discover, Cook, and Savor the Joy of Cooking
     <button mat-button routerLink="/explore"  style="margin-top: 10px;border-radius: 5px;background-color: #FFD400;padding: 5px; border: none;"> Explore</button>
    </mat-card-content>
    <img src="/assets/images/section.jpg" 
    style="height:300px; opacity:0.5;position:relative;
    z-index: 0;object-fit: cover; "/>
    
  </mat-card>

  <mat-grid-list cols="2" rowHeight="500px" style="margin-top: 100px;margin-bottom: 100px;">
    
    <mat-grid-tile>
      <p style="width:400px;padding:10px;">
        Explore cuisines from all around the globe, from hearty Italian pasta to flavorful Asian stir-fries.
        Find recipes based on your taste, dietary preferences, or ingredients on hand.
        Discover recipes for vegan, gluten-free, keto, and low-calorie meals without sacrificing flavor!
    </p>
    </mat-grid-tile>

    <mat-grid-tile ><img style="max-width: 350px; width: clamp(70%,5vw,100%); height: auto;" src="/assets/images/sideimage.png"/></mat-grid-tile>
    
  </mat-grid-list>

  


  